.message{
    background: url('bitmap.png');
    margin-left: 1.5%;
    margin-top: 1.5%;
    width: 97%;
    height: 95%;
    border: 2px solid brown;
    box-shadow: 2px 2px 2px brown;
    border-radius: 2px;
    padding: 1em;
    font-family: 'Sour gummy';
}
input{ 
    /* background: rgba(77, 28, 0,0.8); */
    background: transparent;
    color: black;
    padding: .1em;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: 0;
    border: none;
    border-bottom: 2px solid rgb(77, 28, 0);
    border-radius: 5px;
    /* margin-left: 5%; */
    /* margin-top: 2%; */
    /* box-shadow: 3px 3px 2px rgb(119, 43, 2) inset; */
    letter-spacing: .1em;    
    font-size: 1em;
    font-weight: 510;
    font-family: "Merriweather";
}
input:focus{
    outline: none;
}

textarea{
    background: rgba(77, 28, 0,0.8);
    color: white;
    width: 70%;
    height: 60%;
    padding: 1em;
    border-radius: 5px;
    margin-left: 5%;
    margin-top: 2%;
    box-shadow: 3px 3px 2px rgb(119, 43, 2) inset;
    font-family: "Sour gummmy";
    font-size: 1.05em;
    letter-spacing: .1em;
    word-spacing: .2em;
}
form>button{
    background: rgba(77, 28, 0,0.8);
    color: white;
    padding: .4em;
    padding-left: .6em;
    padding-right: .6em;
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgb(119, 43, 2) inset;
    font-family: "Sour gummmy";
    font-size: 1.05em;
    letter-spacing: .1em;
    word-spacing: .2em;
    position: absolute;
    left: 8%;
    bottom: 10%;
}
.cont{
    margin-top: 2%;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    width: fit-content;
}
/* .cont:nth-child(2){
    width: 50%;
    margin-left: 8%;
} */
.txt{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 1.5%;
}
.txt>div{
    margin-left: 4%;
}
textarea{
    margin-top: 2%;
}
.cont>div{
    height: 5%;
    vertical-align: middle;
    padding: 1em;
    padding-left: .5em;
    font-size: 1.2em;
    font-weight: 550;
}

form{
    width: 100%;
}
.outer-cont{
    display: flex;
    flex-direction: row;
}
#name-input{
    width: 80%;
    margin-right: 15%;
}
#email-input{
    width: 100%;
}