
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .5s;
}

body{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    padding-left: 0vw;
    padding-top: 2vh;
    background: url('bitmap.png');
    backdrop-filter: blur(1px);
    font-family: "Sour gummy";
    overflow: hidden;
    cursor: none;
}
.cursor{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.346);
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 50%;
    pointer-events: none;
    z-index: 5;
    transition: transform 0.075s ease;
    backdrop-filter: blur(2px) hue-rotate(90deg);
    filter: blur(1px);
    z-index: 1001;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.27);
    transition: 0s;
}
.info{
    width: 18%;
    height: 30%;
}
img{
    position: absolute;
    height: 70%;
    /* transform-origin: -0% -0%; */
}
.info-txt{
    position: absolute;
    margin-top: 13%;
    margin-left: 7.4%;
    width: inherit;
    font-size: 1.1em;
    font-weight: 570;
    /* transform-origin: -0% -0%; */
    transform: rotateZ(-5.1deg);
    font-family: 'Sour gummy';
}
.rotate{
    transform: rotateZ(-10deg);
}
.rotate-txt{
    transform: rotateZ(-15.1deg);
}

/* main area */
.main-container{
    position: absolute;
    top: 8%;
    left: 35%;
    width: 60vw;
    height: 100%; 
}
.navbar{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.works-btn{
    order: 1;
}
.about-btn{
    order: 2;
}
.message-btn{
    order: 3;
}
.active{
    /* order: 1; */
    font-size: 1.5em;
    font-weight: 600;
    height: 4%;
    background: rgba(129, 69, 0,0.3);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0.4em;
    color: rgb(129, 69, 0);
    box-shadow: 2px 2px 5px rgb(56, 2, 2) inset;
    /* background-clip: text;
    color: transparent; */
}
.unactive{
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.5em;
    height: 4%;
    background: rgba(129, 69, 0,0.3);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: rgb(129, 69, 0);
    margin-left: 1%;
    box-shadow: 2px 2px 5px rgb(56, 2, 2) inset;
}
.main{
    position: absolute;
    /* top: 12%;
    left: 35%; */
    width: 60vw;
    height: 80vh;
    background: rgba(255,255,255,0.5);
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-left: 1px solid white;
    border-top: 1px solid white;
    box-shadow: 9px 9px 30px lightgray;
    border-radius: 5px;
    overflow: hidden;
}

/* display section */

.display{
    display: flex;
    position: absolute;
    left: -30%;
    top: 20%;
    padding: 1em;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    justify-content: space-between;
}
.card{
    padding: 0.5em;
    background: white;
    border-radius: 5px;
    width: 30%;
    height: 50%;
    background: url('bitmap.png');
    box-shadow: 5px 5px 15px rgb(102, 79, 4);
}
.thumbnail{
    height: 75%;
    background: rgb(161, 125, 6);
    box-shadow: 5px 5px 20px rgb(102, 79, 4) inset;
}
.thumbnail:hover{
    transform: scale(1.1);
    box-shadow: none;
}
.name{
    margin-top: 3%;
    font-size: 1.2em;
    font-weight: 550;
}
.desc{
    margin-top: 1%;
}

.centr{
    position: absolute;
    left: 35%;
    transform: scale(110%);
    z-index: 1000;
}
.lft{
    position: absolute;
    left: 0%;
    filter: blur(5px);
    opacity: 80%;
    transform: scale(.9);
}
.rght{
    position: absolute;
    left: 70%;
    filter: blur(5px);
    opacity: 80%;
    transform: scale(.9);
}
.invl{
    position: absolute;
    left: 0%;
    opacity: 0%;
}
.invr{
    position: absolute;
    left: 70%;
    opacity: 0%;
}


.about{
    
}

.message{
    
}

.show{
    display: flex;
}
.hide{
    display: none;
}